<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img src="<%= blog.image %>" class="ui centered rounded image"></img>
            <div class="content">
                <%= blog.created.toDateString() %>
            </div>
            <div class="description">
                <%- blog.body %>
            </div>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
            <form id="deleteForm" method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
                <button class="ui red basic button">DELETE</button>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>